<%= simple_form_for [:main, @customer] do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, required: true, autofocus: true %>
  <br>
  <%= f.input :matriculation_code, required: true %>
  <br>
  <% unless @customer.password.present? %>
    <%= f.input :password, required: true %>
    <br>
    <%= f.input :password_confirmation, required: true %>
    <br>
  <% end %>
  <div class='row'>
    <div class='col-lg-12 text-end'>
      <%= link_to t(:cancel, scope: %i[templates buttons defaults]), main_customers_path, class: "btn btn-outline-secondary border me-2" %>
      <%= f.button :submit, I18n.t(:submit, scope: %i[simple_form]), class: "btn-primary" %>
    </div>
  </div>
<% end %>