<%= simple_form_for :credit, url: customer_update_credit_path(customer_id: @customer.id) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :customer, input_html: { value: @customer.name }, label: 'Cliente', disabled: true, required: false %>
    <br>
    <%= f.input :value_credit, as: :float, label: 'Crédito (R$)', required: true %>
    <br>
  </div>
  <div class="form-actions">
    <div class='row'>
      <div class='col-lg-12 text-end'>
        <%= link_to t(:cancel, scope: %i[templates buttons defaults]), customer_path(@customer), class: "btn btn-outline-secondary border me-2" %>
        <%= f.button :submit, I18n.t(:submit, scope: %i[simple_form]), class: "btn-primary" %>
      </div>
    </div>
  </div>
<% end %>